
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family:'Open Sans', sans-serif;
}

@font-face {
   font-family: 'Dosis-Regular';
   src: url(../fonts/Dosis-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Dosis-Medium';
   src: url(../fonts/Dosis-Medium.ttf) format('truetype');
}
@font-face {
   font-family: 'Dosis-Bold';
   src: url(../fonts/Dosis-Bold.ttf) format('truetype');
}
.mt{
  margin-top: 20px;
  margin-bottom: 20px;
}
.row{
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-data{
  background-color: #fff;
  height: 70px;
 

}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 8px;
}
.home-bg{
  background-image: url(../images/1.jpg);
  background-size: cover;
  padding:25px;
}
 .logo {
  position: absolute;
  left: 45%;
  top: -96%;
  z-index: 1;
}
.logo h1 a {
	display: inline-block;
  color: #fff;
  font-family: 'Dosis-Medium';
  font-size: 1em;
  text-decoration: none;
  background:#3598DB;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 8px solid #fff;
  padding: 52px 15px;
  height: 160px;
  width: 160px;
}
@media screen and (min-width :1281px)and (max-width :1380px) {
 .dropdown-content {
  display:none;
  position:absolute;
  background-color:#fff;
  min-width:260px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
  z-index:5;
  border-top:2px solid #349fd2
 }
  }

.dropdown{
  display: inline-block;
}
 .dropdown:hover h4::before {
  display:block;
  padding-bottom:16px;
  position:absolute
 }
.dropdown:hover h4::before,.right-menu ul a h4.act-now::before {
 border-bottom:1px solid #008ace!important;
 display:block;
 padding-bottom:15px;
 position:absolute;
 max-width:100%
}
.dropdown-content a:hover {
 background-color:#37ace2;
 color:#FFF!important
}
.dropdown:hover .dropdown-content {
 display:block
}
.right-menu .nav.navbar-nav .dropdown-content a {
 color:#000;
 padding:12px 16px!important;
 text-decoration:none;
 display:block!important;
 border-left:0!important;
 border-bottom:1px solid #C8C8C8
}
.dropdown:hover .mi-start-bus h4::before {
  left:44px;
  width:153px
 }
 .dropdown:hover .mi-protect-bus h4::before {
  left:45px;
  width:174px
 }
 .dropdown:hover .mi-manage-bus h4::before {
  left:45px;
  width:173px
 }
 .dropdown:hover .mi-grow-bus h4::before {
  left:45px;
  width:155px
 }
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.navigation-bg{
  background-color: #fff;
  height: 50px;
  border:none;
}
.right-menu .nav li.mi-start-bus {
    color: #000;
    background: url(../images/mi-start-bus.png) left 14px no-repeat;
    padding: 32px 0 0 25px;
}
.right-menu .nav li.mi-protect-bus {
  color: #000;
  background: url(../images/mi-protect-bus.png) left -3px no-repeat rgba(0,0,0,0);
  padding: 13px 0 0 35px;
}
.right-menu .nav li.mi-manage-bus {
  color: #000;
  background: url(../images/mi-manage-bus.png) left -3px no-repeat;
  padding: 13px 0 0 35px;
}
.right-menu .nav li.mi-grow-bus {
  color: #000;
  background: url(../images/mi-grow-bus.png) left -5px no-repeat;
  padding: 13px 0 0 35px;
}
.right-menu .nav .small-menu {
    float: right;
    margin: 22px 0 0;
    text-align: right;
   /* width: 8.5%;*/
}
.right-menu .nav li h4 {
  font-size:12px
 }
.right-menu .nav.navbar-nav a {
  padding:15px 5px
 }
.right-menu .nav.navbar-nav a {
    display: inline-block;
    padding: 14px 5px 20px;
    border-left: 1px solid #efeeee !important;
}
.right-menu .nav .small-menu a {
    border-left: 0 none !important;
    display: block;
    font-size: 12px;
    padding: 0;
    line-height: 17px;
    color: #333;
}

.right-menu .nav.navbar-nav a.no-bor {
    border-left: 0 !important;
}
.topHeader {
    height: 90px;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
    position: relative;
    z-index: 1;
}

.noPadding, .paddingRight, .paddingRight1 {
    padding-right: 0 !important;
}

.left-logo {
    float: left;
    width: 11%;
    z-index: 2147483647;
}
.right-menu, .right-menu1 {
    margin-top: -10px;
    width: 88% !important;
    padding: 0 !important;
    float: right;
}

span.menu {
  display: none;
}


label{
	 font-weight:normal;
}
/*--service--*/
.service{
	padding:5em 0;
}
.icon-pic {
  float: left;
  width: 23%;
}
.icon {
 width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
   -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;  
  margin-bottom: 1.5em;
  padding: 32px 0px;
  background:#fff;
  border:2px solid #3598db;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before,.glyphicon-user:before{
  color:#9F9F9F;
  font-size: 35px;
}
.icon-info {
  float: left;
  width: 74%;
  margin-left: 3%;
}
.icon-info h4 a {
  color: #3E3E3E;
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  font-family: 'Dosis-Medium';
}
.icon-info p {
  font-size: 1em;
  line-height: 1.8em;
  color: #999;
  margin-top:0.7em;
}
.service-grids{
	margin-top:3.5em;
}
.grids2{
	margin-top:3.5em;
}

.homepage .banner {
    background: #2196F3;
    height: 457px;
    padding-top: 20px;
}
.company-registration1 .cr {
    background: url(../images/company-registration-icon.png) left 3px no-repeat;
}

.trademark-registration1 .tm {
    background: url(../images/trademark-registration-icon.png) left 3px no-repeat;
}
.roc-filling1 .roc {
    background: url(../images/roc-filling-icon.png) left 3px no-repeat;
}

.roc-filling1 h3 {
    padding: 30px 82px 43px;
     text-transform: capitalize;
      font-size: 19px;
}
.free-legal-agreement1 .fl {
    background: url(../images/free-legal-agreement-icon.png) left 3px no-repeat;
}
.free-legal-agreement1 h3 {
    padding: 26px 75px 43px;
    margin-left: 9px;
     font-size: 19px;
     text-transform: capitalize;
     color: #fff;
}

.gst-registration1 .gst {
    background: url(../images/gst-registration-icon.png) left 3px no-repeat;
}
.iso-certification1 .iso {
    background: url(../images/iso-certification-icon.png) left 3px no-repeat;
}
.gst-registration1 h3, .iso-certification1 h3 {
    padding: 26px 82px 43px;
}
.free-legal-agreement1 .fl {
    background: url(../images/free-legal-agreement-icon.png) left 3px no-repeat;
}
.free-legal-agreement1 h3 {
    padding: 26px 75px 43px;
    margin-left: 9px;
     font-size: 19px;
      text-transform: capitalize;
}
.trademark-registration1 h3 {
    padding: 26px 82px 43px;
}
.roc-filling1 h3, .trademark-registration1 h3 {
    font-size: 19px;
    color: #fff;
    text-transform: capitalize;
}
.gst-registration1 h3, .iso-certification1 h3 {
    padding: 26px 82px 43px;
     font-size: 20px;
     color: #fff;
      text-transform: capitalize;
}

.company-registration1 h3 {
    padding: 26px 82px 43px;
    font-size: 19px;
    color: #fff;
     text-transform: capitalize;
}


.footer{
text-align:center;
background:#000;
padding:3em 0 1em 0;
}
.footer p {
color: #fff;
font-size: 1em;
}
.footer p a{
color: #fff;
}
.social{
margin-top:1.5em;
}
.social i {
width: 27px;
height: 27px;
background: url('../images/social-icons.png') no-repeat 0px 0px;
display: inline-block;
margin:0 5px;
}
a i.facebook{
background-position:-3px -2px;
}
a i.twitter{
background-position: -43px -3px;
}
a i.dribble{
background-position: -83px -3px;
}
a i.google{
background-position:-126px -2px
}
a i.youtube{
background-position:-167px -3px;
}
a i.facebook:hover{
background-position:-3px -36px;
}
a i.twitter:hover{
background-position: -43px -36px;
}
a i.dribble:hover{
background-position: -83px -36px;
}
a i.google:hover{
background-position:-126px -36px
}
a i.youtube:hover{
background-position:-167px -36px;
}
.arrow{
text-align:center;
padding:2em 0 0.5em 0;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*--responsive--*/
@media (max-width: 1280px){
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -77px;
  min-height: 332px;
  background-size: cover;
}
}
@media (max-width: 1080px){
.top-menu ul li:nth-child(3) {
  margin-right: 11em;
}
.logo {
  left: 42%;
}
.banner-info {
  margin: 8em 0 0 0em;
}
.banner-info h2 {
  font-size: 3em;
}
.header {
   background: #3ea7e1;
 
}
}
@media (max-width: 1024px){
.top-menu ul li:nth-child(3) {
  margin-right: 11em;
}
.banner-info {
  margin: 8em 0 0 0em;
}
.banner-info h2 {
  font-size: 3em;
}
.header {
  min-height: 483px;
}
.logo {
  left: 43%;
}
.about-right h4 {
  font-size: 1.6em;
}
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -2px;
  min-height: 364px;
  background-size: cover;
  width: 52.2%;
}
.about-right {
  width: 47.8%;
  padding: 0em 2em;
}
.touch-left form input[type="text"]:nth-child(1) {
  margin-right: 19px;
}
}
@media (max-width: 991px){
.top-menu ul li:nth-child(3) {
  margin-right: 12em;
}
.header {
  min-height: 430px;
}
.banner-info h2 {
  font-size: 2.5em;
}
.banner-info {
  margin: 9em 0 0 0em;
  padding: 0 0px 0 79px;
  width: 58%;
}
.banner-info p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin-top: 1.5em;
}
.banner-info a {
  padding: 0.7em 3em;
  font-size: 1em;
  margin-top: 1.5em;
} 
.top-menu ul li a {
  padding: 0 1em;
} 
.icon-pic {
  width: 25%;
}
.icon-info {
  width: 72%;
}
.futr-grid{
  width: 50%;
  float: left;
}
.icon-info p {
  font-size: 0.9em;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before, .glyphicon-user:before {
  font-size: 27px;
}
.icon {
  width: 80px;
  height: 80px;
  padding: 23px 0px;
}
.icon-info h4 a {
  font-size: 1.2em;
}
.galry-grids {
  padding: 4px;
  width: 33.3%;
  float: left;
}
.blog-grid {
  width: 50%;
  float: left;
}
.about-right p {
  font-size: 0.9em;
  margin-top: 0.7em;
}
.about-left {
  min-height: 341px;
}
.blog-grid h4 a {
  font-size: 1.2em;
}
.blog-grid p {
  font-size: 0.9em;
}
}
@media (max-width: 800px){
.logo h1 a {
  font-size: 0.8em;
  padding: 39px 12px;
  height: 126px;
  width: 126px;
}
}
@media (max-width: 768px){
.header {
	   background: url(../images/banner.jpg) no-repeat 0px 0;
	   background-size:cover;
  min-height: 400px;
}
.banner-info h2 {
  font-size: 2em;
}
.logo h1 a {
  font-size: 0.8em;
  padding: 39px 12px;
  height: 126px;
  width: 126px;
}
.banner-info {
  margin: 7em 0 0 0em;
}
.map iframe {
  width: 100%;
  min-height: 320px;
}
.about-right h3, .service h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 2em;
}
.service {
  padding: 3em 0;
}
.icon-info h4 a {
  font-size: 1.1em;
}
.about-right h4 {
  font-size: 1.2em;
}
.about-right a {
  font-size: 0.9em;
  margin-top: 1em;
}
.gallery {
  margin: 2em 0;
}
.blog-grid h4 a {
  font-size: 1.1em;
}
.blog-grid span {
  font-size: 0.9em;
}
.middleblog-grid{
	text-align:left;
}
.touch-left form input[type=submit] {
  font-size: 13px;
}
.arrow {
  padding: 1em 0 0.5em 0;
}
}
@media (max-width: 736px){
.top-menu ul li:nth-child(3) {
  margin-right: 10em;
}
}
@media(max-width:667px){
 span.menu {
  display: block;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 1em 0;
}
.top-menu span img{
	display:inline-block;
}
.top-menu {
	width: 100%;
	float: right;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;	
	background:#fff;
}
.top-menu ul li a {
  padding: 0.4em 0em;
  display: block;
  font-size:1.4em;
}
.top-header {
  margin: 1em 0;
}
.header {
  min-height: 350px;
}
.logo {
  left: 42%;
}
.logo h1 a {
  font-size: 0.7em;
  padding: 31px 8px;
  border: 6px solid #fff;
  height: 100px;
  width: 100px;
}
.top-menu ul li:nth-child(3) {
  margin-right: 0;
}
}
@media(max-width:640px){
 span.menu {
  display: block;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 1.5em 0;
}
.top-menu span img{
	display:inline-block;
}
.top-menu {
	width: 100%;
	float: right;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;	
	background:#fff;
}
.top-menu ul li a {
  padding: 0.4em 0em;
  display: block;
  font-size:1.4em;
}
.top-header {
  margin: 0em 0;
}
.header {
  min-height: 350px;
}
.logo {
  left: 42%;
  top:0;
}
.logo h1 a {
  font-size: 0.7em;
  padding: 31px 8px;
  border: 6px solid #fff;
  height: 100px;
  width: 100px;
}
.banner-info h2 {
  font-size: 1.5em;
}
.banner-info {
  margin: 6em 0 0 0em;
  width: 54%;
  padding: 0 0px 0 45px;
}
.banner-info a {
  padding: 0.6em 3em;
  font-size: 0.85em;
  margin-top: 1em;
}
.futr-grid {
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
}
.icon-pic {
  width: 13%;
}
.icon-info {
  width: 84%;
}
.grids2 {
  margin-top:0em;
}
.service-grids {
  margin-top: 2em;
}
.about-left {
  background: url(../images/img1.jpg) no-repeat 0px -33px;
  min-height: 348px;
  background-size: cover;
  width: 100%;
}
.about-right {
  width: 100%;
  padding: 2em 1.5em 0 1.5em;
}
.service {
  padding:2em 0 1em 0;
}
.about {
  padding: 0em 0;
}
.blog-grid {
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
}
a.blogs {
  font-size: 0.9em;
  margin-top: 0.5em;
}
.middleblog-grid {
  margin: 0em auto 0;
}
.touch-left form input[type="text"]:nth-child(1) {
  margin-right: 0;
}
.touch-left form input[type="text"] {
  width: 100%;
}
.map iframe {
  min-height: 250px;
}
.contact {
  padding: 2em 0;
}
.touch-left {
  padding: 0;
}
.touch-top {
  margin-top: 1.5em;
}
.touch-left form textarea {
  margin: 1em 0 0 0;
}
.footer p {
  font-size: 0.9em;
}
.footer {
  padding: 2em 0 1em 0;
}
.top-menu ul li:nth-child(3) {
  margin-right: 0;
}
}
@media(max-width:480px){
span.menu {
  padding: 0.7em 0;
}
.logo h1 a {
  font-size: 0.6em;
  padding: 27px 9px;
  border: 5px solid #fff;
  height: 90px;
  width: 90px;
}
.header {
 background: #3ea7e1;
}
.banner-info {
  margin: 4em 0 0 0em;
  width: 54%;
  padding: 0 0px 0 9px;
}
.icon-pic {
  width: 18%;
}
.icon-info {
  width: 76%;
  margin-left: 4%;
}
.icon-info p {
  font-size: 0.85em;
  margin-top: 0.5em;
}
.icon-info h4 a {
  font-size: 1em;
}
.about-left {
  min-height: 283px;
}
.about-right p {
  font-size: 0.85em;
}
.about-right a {
  font-size: 0.85em;
  padding: 0.7em 1.5em;
}
.blog-grid p {
  font-size: 0.85em;
  line-height: 1.7em;
}
.touch-left form input[type=submit] {
  font-size: 12px;
  margin: 1em 0 0 0px;
  padding: 9px 27px;
}
.touch-left form input[type="text"],.touch-left form textarea {
  width: 100%;
  font-size: 0.9em;
  padding:10px;
}
.touch-right-top h4 {
  letter-spacing: 0px;
}
}
@media(max-width:414px){
.header {
  background: url(../images/banner.jpg) no-repeat -124px 0px;
  background-size: cover;
}
.banner-info {
  width: 59%;
}
}
@media(max-width:384px){
.header {
  background: url(../images/banner.jpg) no-repeat -158px 0px;
  background-size: cover;
  min-height: 335px;
}
.banner-info {
  width: 65%;
}
}
@media(max-width:360px)
{
span.menu {
  padding: 1.2em 0;
}
.logo {
  left: 35%;
}
.footer-menu-link ul li {
  float: none;
  padding: 10px;
}

.footer-wrap .col-sm-3, .sub-res-hide {
  display: none;
}
.blog-news .main-blog {
  width: 100% !important;
}
.company-registration1 .cr {
  background: url(../images/companyregistration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}

.company-registration1 h3 {
  font-size: 12px;
  padding: 13px 52px 19px;
}

.trademark-registration1 .tm {
  background: url(../images/trademark-registration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.roc-filling1 .roc {
  background: url(../images/rocfilling-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.gst-registration1 .gst {
  background: url(../images/gst-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}

.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}

.iso-certification1 .iso {
  background: url(../images/iso-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.free-legal-agreement1 .fl {
  background: url(../images/freelegalagreement-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: 5px;
}
.free-legal-agreement1 h3 {
  font-size: 12px;
  padding: 15px 48px 19px;
}

.team-behind-inner .team-img-new-res, .team-behind-inner .team-img-new-res img {
  text-align: center;
  padding-bottom: 45px;
  display: block;
}
.team-behind-inner .tb-text h2 {
  text-align: center;
  font-size: 16px!important;
  font-weight: 700;
  color: #264174;
  margin: 0 0 25px;
}
.team-behind-inner .tb-text h3 {
  text-align: center;
  font-size: 14px !important;
  color: #264174;
  line-height: 24px;
}
.team-behind-inner .tb-text {
  background: url(../images/tm-text-bg.png);
  border-radius: 5px;
  margin-bottom: -59px!important;
  bottom: 0;
}


.take-your {
  background: url('../images/19.jpg') 90% center no-repeat !important;
  padding: 12px 0;
}
.take-your h2 {
  color: #fff;
  letter-spacing: -1px;
  margin: 5px 0 15px;
  padding-top: 178px;
  font-size: 18px !important;
  text-align: left !important;
  line-height: 1.3;
}
.team-behind-inner .tb-text h3 {
  text-align: center;
  font-size: 16px;
  color: #264174;
  line-height: 24px;
  margin-top: -30px;
}
.startup-app1 .app-banner-cont1 .mobrank {
  color: #fff !important;
  font-family: Lato-Regular;
  font-size: 18px !important;
  margin: 0 0 14px;
  text-align: center;
  text-transform: uppercase;
}
.hom-mapp-ban {
  padding-bottom: 0 !important;
}
.startup-app1 .dw-google img {
  width: 50%;
  margin:0 auto;
  display: block;
}
.glyphicon-phone:before, .glyphicon-thumbs-up:before, .glyphicon-picture:before, .glyphicon-user:before {
  font-size: 20px;
}
.icon {
  width: 54px;
  height: 55px;
  padding: 14px 0px;
}
.icon-info h4 a {
  font-size: 0.9em;
}
.icon-info {
  width: 76%;
  margin-left: 6%;
}
.about-left {
  min-height: 204px;
  background: url(../images/img1.jpg) no-repeat 0px 0px;
  background-size:cover;
}
.about-right h3, .service h3, .gallery h3, .blog h3, .contact h3 {
  font-size: 1.5em;
}
.about-us .sub-inner-box {
    text-align: center;
}
.about-us .inner-box {
    margin: 0 auto;
    padding: 35px 0 40px;
    overflow: hidden;}

.service-grids {
  margin-top: 1.5em;
}
.about-right {
  padding: 2em 1em 0 1em;
}
.about-right h4 {
  font-size: 1.1em;
}
.about-right a {
  font-size: 0.8em;
  padding: 0.7em 1.3em;
}
.galry-grids {
  padding: 0px 0 8px 0;
  width: 100%;
}
.gallery-info {
  margin-top: 1.5em;
}
.blog-grids {
  margin-top: 1.5em;
}
.blog-grid h4 a {
  font-size: 0.9em;
}
.blog-grid span {
  font-size: 0.83em;
}
.blog-grid p {
  margin-top: 0.5em;
}
.map iframe {
  min-height: 180px;
}
.touch-left form textarea {
  height: 120px;
}
}

.homepage .enquiryForm {
    padding-top: 20px;
    padding-bottom: 20px;
}
.enquiryForm {
    background: #181515;
    border-radius: 5px;
    padding: 25px 5px;
        padding-top: 25px;
        padding-bottom: 25px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.enquiryForm p {
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.clear {
    clear: both;
}
.enquiryForm .form-group, .enquiryForm .form-group .form-control {
    width: 100%;
    margin-bottom: 10px;
}
.custom_icon select.not_chosen {
    color: #a7a7a7;
    padding: 6px 12px;
}
.custom_icon select option:first-child {
    color: #a7a7a7;
}
.custom_icon select.not_chosen {
    color: #a7a7a7;
    padding: 6px 12px;
}
.enquiryForm .form-group, .enquiryForm .form-group .form-control {
    width: 100%;
}

 .banner-bott-line {
   background: #0b0a0a !important;
padding: 50px 0;
position: relative;

}
 .banner-bott-line h1 {
    font-family: Conv_ChaparralPro-Italic;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-style: italic;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
 background-color: #eee;;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
} 

.price {
    list-style-type: none;
    border: 1px solid #333;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    border-radius: 10px;
}
.price .header1 {
  border-bottom: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #264174;
}
.price .header1 {
    border-bottom: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.price .last {
  border-bottom: none;
  padding: 20px;
  text-align: center;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border-radius: 10px;
}

#testimonial4{
  overflow: hidden;
  min-height: 375px;
  position: relative;
  background: #fff;
}
#testimonial4 .carousel-inner{
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #3EA7E1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #3EA7E1;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #3EA7E1;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color:#000;  
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  color: #3EA7E1;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: #333;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color:#333;
  font-size: 24px;
  font-weight: bold;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_header h4{
    font-size: 20px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
  .company-registration1 .cr {
  background: url(../images/companyregistration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}

.company-registration1 h3 {
  font-size: 12px;
  padding: 13px 52px 19px;
}

.trademark-registration1 .tm {
  background: url(../images/trademark-registration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.roc-filling1 .roc {
  background: url(../images/rocfilling-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.gst-registration1 .gst {
  background: url(../images/gst-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}

.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}

.iso-certification1 .iso {
  background: url(../images/iso-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.free-legal-agreement1 .fl {
  background: url(../images/freelegalagreement-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: 5px;
}
.free-legal-agreement1 h3 {
  font-size: 12px;
  padding: 15px 48px 19px;
}

}

@media (min-width: 481px) and (max-width: 767px){

  nav {
    background: #fff !important;
}

  .testimonial4_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
  .right-menu .nav.navbar-nav {
  padding: 68px 15px;
}
.dropdown {
  width: 280px;
}

.company-registration1 .cr {
  background: url(../images/companyregistration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}

.company-registration1 h3 {
  font-size: 12px;
  padding: 13px 52px 19px;
}

.trademark-registration1 .tm {
  background: url(../images/trademark-registration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.roc-filling1 .roc {
  background: url(../images/rocfilling-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.gst-registration1 .gst {
  background: url(../images/gst-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}

.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}

.iso-certification1 .iso {
  background: url(../images/iso-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.free-legal-agreement1 .fl {
  background: url(../images/freelegalagreement-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: 5px;
}
.free-legal-agreement1 h3 {
  font-size: 12px;
  padding: 15px 48px 19px;
}

}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial4_control_button .carousel-control.left{
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 5%;
  }

  .company-registration1 .cr {
  background: url(../images/companyregistration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}

.company-registration1 h3 {
  font-size: 12px;
  padding: 13px 52px 19px;
}

.trademark-registration1 .tm {
  background: url(../images/trademark-registration-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.roc-filling1 .roc {
  background: url(../images/rocfilling-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.gst-registration1 .gst {
  background: url(../images/gst-mobile.png) left 0 no-repeat rgba(0,0,0,0);
}

.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}

.iso-certification1 .iso {
  background: url(../images/iso-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: -26px;
}
.gst-registration1 h3, .iso-certification1 h3, .roc-filling1 h3, .trademark-registration1 h3 {
  padding: 15px 53px 19px;
  font-size: 12px;
}
.free-legal-agreement1 .fl {
  background: url(../images/freelegalagreement-mobile.png) left 0 no-repeat rgba(0,0,0,0);
  margin-left: 5px;
}
.free-legal-agreement1 h3 {
  font-size: 12px;
  padding: 15px 48px 19px;
}

}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
.startup-app1 .app-banner-cont1 h1, .startup-app1 .app-banner-cont1 h2 {
  color: #fff;
  font-family: Lato-Regular;
  font-size: 32px;
  margin: 10px 0 30px;
  text-align: center;
  text-transform: uppercase;
}
.startup-app1 .app-banner-cont1 p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.banner1 {
    background: #303438;
    height: 180px;
    padding-top: 20px;
}

.startup-app1.startup-app-home1 .app-banner-img1 img {
   margin: -72px 0 0 -16%;
}
.panel-primary{
  border:none;
}

.footer-wrap {
    background-color: #000;
    color: #a8a8a8;
    padding: 34px 0 10px;
}
.footer-wrap .footer-list li a {
    color: #a8a8a8;
    padding: 8px 0;
    display: inline-block;
    min-width: 240px;
    font-size: 13px;
}
.footer-wrap {
    color: #a8a8a8;
}
.footer-wrap .footer-list {
    list-style: none;
    margin: 0 0 0 -35px;
    padding-left: 25px;
    border-left: solid 1px #676767;
    min-height: 355px;
}

.about-us .sub-inner-box {
    text-align: center;
}
 .about-us .sub-inner-box h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #264174;
    line-height: 24px;
}
   .team-behind-inner {
    position: relative;
}
.team-behind-inner .team-img-new {
    padding-bottom: 45px;
}
.blog-news .main-blog img, .take-your .lets-get, .team-behind-inner .team-img-new > img {
  width: 100%;
}
.team-behind-inner .tb-text {
  background: url(../images/tm-text-bg.png);
  border-radius: 5px;
  /*padding: 3% 4%;*/
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
}
.team-behind-inner .team-img-new {
    padding-bottom: 45px;
}
.team-behind-inner .tb-text h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #264174;
    margin: 0 0 25px;
}
.team-behind-inner .tb-text h3 a {
    color: #008ccf;
    text-decoration: underline;
    font-weight: 700;
}

.team-behind-inner .tb-text h3 {
  text-align: center;
  font-size: 16px;
  color: #264174;
  line-height: 24px;
}

 .take-your {
    background: url('../images/19.jpg');
        background-size: auto auto;
    padding: 22px 0;
    background-size: cover;
  /*  opacity: 0.0;*/
}


.take-your h2 {
  color: #fff;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1.35;
  margin: 5px 0 0;
  padding-top: 148px;
  text-align: right;
  text-shadow: 10px 5px 6px #000;
}



.blog-news .blogP {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 0 0 40px;
}
.blog-news .main-blog1 {
    margin: 0 4% 2%;
}

.blog-news .main-blog {
  padding: 10px;
}

.blog-news .main-blog p {
    color: #727272;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}
.get1 h2, h2.titleHeading {
  color: #333;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 32px;
  text-transform: uppercase;
  font-family: Lato-Regular;
}

.blog-news .main-blog1, .blog-news .main-blog2 {
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px #ccc;
  padding: 0;
}
.blog-news .main-blog .btn-default {
 /* padding: 10px 15px;*/
 /* background: #FFF;
  border-color: #2196F3;
  color: #2196F3;
  border-radius: 5px;
  margin: 20px 0 0;*/
}

.get1 h2, h2.titleHeading {
  color: #264174;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 32px;
  text-transform: uppercase;
  font-family: Lato-Regular;
}
.featured-as-link ul {
  margin-top: 72px;
  padding: 0;
}
.featured-as-link ul li {
  float: left;
  padding: 3px 12px;
  font-size: 38px;
}
ul.foot-sublink {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.footer-menu-link {
    border-top: 1px solid #676767;
    clear: both;
    float: left;
    margin: 10px 0 0;
    overflow: hidden;
    width: 100%;
    padding: 10px 0 0;
}
.footerBg {
  background: #343434;
  margin-bottom: -20px;
}
.contact-us .cont-det-inner ul li, .curr-tab ul li, .employment .inner-box ul li, .featured-as-link ul li, .footer-menu-link ul li, .price, ul.ceo-coll li, ul.pov-point li {
    list-style-type: none;
}
.footer-menu-link ul li {
    float: left;
    padding: 5px 10px;
        padding-left: 10px;
    font-size: 14px;
}
.footer-menu-link ul li a {
    color: #a8a8a8;
}
.footer-sm label {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: -10px;
  border-bottom: solid 1px #676767;
  min-width: 240px;
  padding-bottom: 8px;
}
.footer-menu-link ul {
  margin: 0;
  padding: 0;
}
.footerBg .copy-right {
  float: left;
}
.footerBg .copy-right-link {
  float: right;
}
.footerBg p {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  padding: 25px 0;
  font-size: 12px;
}
.footerBg .copy-right-link > a {
  color: #fff;
  padding: 0 0 0 20px;
}

.clear {
    clear: both;
}
/*=======================================================*/

.sec-padding {
    padding: 50px 0 50px 0;
}
.section-bgimg-6 {
    width: 100%;
    height: auto;
    margin: 0;
    float: left;
    background: url(../images/65.jpg) top center repeat;
}
.section-light {
    background-color: #f5f5f5;
}
.sec-title-container {
    width: 100%;
    float: left;
    padding-bottom: 120px;
}
h5.less-mar-1 {
    margin-bottom: 3px;
}
.text-primary {
    color: #a9cd2e;
}
.font-weight-4 {
    font-weight: 400;
}
.line-height-4 {
    line-height: 40px;
}
.text-primary {
    color: #a9cd2e;
}
h2.less-mar-1 {
    margin-bottom: 3px;
}
.font-weight-6 {
    font-weight: 600;
}
.line-height-5 {
    line-height: 50px;
}
.ce-title-line {
    background-color: #a9cd2e;
}
.ce-title-line {
    width: 12%;
    height: 2px;
    background-color: #a9cd2e;
    margin: 15px auto 0 auto;
}
.ce-sub-text {
    width: 50%;
    margin: 15px auto 0 auto;
}
.opacity-7 {
    opacity: 0.7;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.ce-feature-box-38 {
    position: relative;
    width: 100%;
    float: left;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
}
.ce-feature-box-38 .img-box {
    position: relative;
    width: 100%;
    float: left;
    padding: 11px 11px 30px 11px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.ce-feature-box-38 .img-box .bg-circle-box {
    position: relative;
    width: 100%;
    min-height: 350px;
    float: left;
    padding: 12px 12px 0 12px;
    overflow: hidden;
    background-color: #fff;
}



.ce-feature-box-38 .img-box .bg-circle-box .img {
    position: absolute;
    width: 100%;
    float: left;
    z-index: 2;
}



.ce-feature-box-38 .img-box .bg-circle-box .circle {
    position: absolute;
    width: 780px;
    height: 780px;
    left: -45px;
    top: 18px;
    border: 30px solid #f5f5f5;
    border-radius: 100%;
    float: left;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
}


.ce-feature-box-38 .text-box {
    width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}

.text-box.white {
    background-color: #fff;
}
h5.less-mar-1 {
    margin-bottom: 5px;
}
.title {
    transition: all 0.3s ease-out 0s;
}

.text-primary {
    color: #003366;
}


.ce-feature-box-38:hover {
    -webkit-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
    box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
    transform: translateY(-8px);
}


/*=========================================*/